<mat-nav-list>
    <a mat-list-item (click)='onDisconnect()'>
      <span mat-line>Déconnexion</span>
      <span mat-line>Déconnexion de la session, et retour à l'écran de connexion</span>
    </a>
  </mat-nav-list>