.app-todo-root-layout {
  min-height: calc(100vh - 64px);
  padding: 1rem 0rem 0 0rem;
  margin-bottom: 3rem;
}

.app-input-todo-wrapper {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.app-input-todo {
  width: 100%;
  justify-content: center;
  padding: 0 1rem;
}
